<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.igojoa.repository.UsersDao">
	<!-- 세션 유무 확인 -->
	<select id="sessionTorF" resultType="Integer"
		parameterType="String">
		<bind name="userId" value="userId" />
		SELECT count(*) FROM users WHERE USERID = #{userId}
	</select>
	<!-- 회원가입 -->
	<insert id="create" parameterType="Users">
		INSERT INTO users (userId,
		password, email, phonenumber, nickname,
		userProfileName,
		userProfileUrl) VALUES (#{userId}, SHA2(#{password},
		256), #{email},
		#{phoneNumber}, #{nickName}, #{userProfileName},
		#{userProfileUrl})
	</insert>
	<!-- 사용자 ID로 사용자 조회 -->
	<select id="selectByUserId" resultType="Users"
		parameterType="String">
		SELECT * FROM users WHERE USERID = #{userId}
	</select>
	<!-- 사용자 ID와 비밀번호로 사용자 조회(로그인) -->
	<select id="selectByIdAndPassword" resultType="Users"
		parameterType="Users">
		SELECT * FROM users WHERE USERID = #{userId} AND
		PASSWORD =
		SHA2(#{password}, 256)
	</select>
	<!-- 이메일과 닉네임으로 사용자 ID 조회 -->
	<select id="findUserId" resultType="String"
		parameterType="String">
		SELECT userId FROM users WHERE EMAIL = #{email} AND
		NICKNAME = #{nickName}
	</select>
	<!-- 사용자 ID, 이메일, 닉네임으로 사용자 조회 -->
	<select id="verifyUser" resultType="boolean"
		parameterType="String">
		SELECT EXISTS(SELECT 1 FROM users WHERE USERID =
		#{userId} AND EMAIL =
		#{email} AND NICKNAME = #{nickName})
	</select>
	<!-- 사용자 ID로 비밀번호 업데이트 -->
	<update id="updatePassword" parameterType="String">
		UPDATE users SET
		PASSWORD = SHA2(#{password}, 256) WHERE USERID = #{userId}
	</update>
	<!-- 사용자 ID 존재 여부 확인 -->
	<select id="checkUserId" resultType="boolean"
		parameterType="String">
		SELECT EXISTS(SELECT 1 FROM users WHERE USERID =
		#{userId})
	</select>
	<!-- 닉네임 존재 여부 확인 -->
	<select id="checkNickName" resultType="boolean"
		parameterType="String">
		SELECT EXISTS(SELECT 1 FROM users WHERE NICKNAME =
		#{nickName})
	</select>
	<!-- 이메일 존재 여부 확인 -->
	<select id="checkEmail" resultType="boolean"
		parameterType="String">
		SELECT EXISTS(SELECT 1 FROM users WHERE EMAIL =
		#{email})
	</select>
	<!-- 핸드폰 번호 존재 여부 확인 -->
	<select id="checkPhoneNumber" resultType="boolean"
		parameterType="String">
		SELECT EXISTS(SELECT 1 FROM users WHERE PHONENUMBER =
		#{phoneNumber})
	</select>
	<!-- 사용자 ID로 사용자 삭제 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM users WHERE
		USERID = #{userId}
	</delete>

	<!-- Users 정보와 Points 정보 가져오기 -->
	<select id="getUserInfo" resultType="UsersInfoDto"
		parameterType="String">
		SELECT users.userId, users.email, users.phoneNumber,
		users.userProfileUrl, users.nickName, points.currentsPoints,
		points.cumulativePoint
		FROM users
		INNER JOIN points ON users.userId =
		points.userId
		WHERE users.userId =
		#{userId}
	</select>

	<!-- Users 정보 업데이트 하기 -->
	<update id="updateUsers" parameterType="Users">
		UPDATE users
		<set>
			<if test="nickName != null and nickName != ''"> nickName = #{nickName},</if>
			<if test="email != null and email != ''"> email = #{email},</if>
			<if test="phoneNumber != null and phoneNumber != ''"> phoneNumber = #{phoneNumber},</if>
			<if test="password != null and password != ''"> password = SHA2(CONCAT('', #{password}), 256)</if>
		</set>
		WHERE userId = #{userId}
	</update>

	<!-- User가 좋아한 장소 정보들 전체 가져오기 -->
	<select id="getUserFavoritePlaces"
		resultType="UserFavoritePlacesDto" parameterType="UserSearchDto">
		<bind name="userId" value="userId" />
		SELECT
			places.placeName,
			CONCAT(places.largeAddress, ' ',
			places.midiumAddress) AS address,
			placeImages.firstUrl,
			DATE_FORMAT(placesFavorite.createdTime, '%Y.%m.%d %H:%i') as createdAt
		FROM places
		 	JOIN placesFavorite ON places.placeName = placesFavorite.placeName
			JOIN placeImages ON places.placeName = placeImages.placeName
		WHERE
			placesFavorite.userId = '${ userId }'
	</select>
	
	<!-- 유저가 좋아한 장소 정보들 검색결과 가져오기 -->
	<select id="searchUserFavoritePlaces" resultType="UserFavoritePlacesDto" parameterType="UserSearchDto">
		<bind name="userId" value="userId" />
		<if test="searchKeyword != null and searchKeyword != ''">
			<bind name="searchKeyword" value="'%' + searchKeyword + '%'" />
		</if>
		SELECT
			places.placeName,
			CONCAT(places.largeAddress, ' ',
			places.midiumAddress) AS address,
			placeImages.firstUrl,
			DATE_FORMAT(placesFavorite.createdTime, '%Y.%m.%d %H:%i') as createdAt
		FROM places
		 	JOIN placesFavorite ON places.placeName = placesFavorite.placeName
			JOIN placeImages ON places.placeName = placeImages.placeName
		WHERE
        	placesFavorite.userId = #{userId}
        	<if test="searchKeyword != null and searchKeyword != ''">
           	 	AND upper(places.placeName) LIKE upper(#{searchKeyword})
        	</if>
        	<if test="largeAddress != null and largeAddress != ''">
            	AND places.largeAddress = #{largeAddress}
        	</if>
        	<if test="calendar != null and calendar != ''">
            	AND DATE_FORMAT(placesFavorite.createdTime, '%Y.%m.%d') = #{calendar}
        	</if>
    	ORDER BY placesFavorite.createdTime DESC
	</select>

	<!-- 유저가 좋아요한 리뷰 정보들 가져오기 -->
	<select id="getUserFavoriteReviews"
		resultType="UserFavoriteReviewsDto" parameterType="UserSearchDto">
		<bind name="userId" value="userId" />
		SELECT
			places.placeName,
			reviews.review,
			DATE_FORMAT(reviews.createdAt, '%Y.%m.%d %H:%i') AS createdAt,
			placeImages.firstUrl,
			reviewLikes.userId AS reviewAuthor
		FROM places
			JOIN reviews ON places.placeName = reviews.placeName
			JOIN reviewLikes ON reviews.placeName = reviewLikes.placeName AND reviews.userId = reviewLikes.userId
			JOIN placeImages ON places.placeName = placeImages.placeName
		WHERE reviewLikes.likeUserId = #{userId}
		ORDER BY reviews.createdAt DESC
	</select>
	
	<!-- 유저가 좋아요한 리뷰 정보들 검색결과 가져오기  -->
	<select id="searchUserFavoriteReviews" resultType="UserFavoriteReviewsDto" parameterType="UserSearchDto">
		<bind name="searchKeyword" value="searchKeyword" />
		SELECT
			places.placeName,
			reviews.review,
			DATE_FORMAT(reviews.createdAt, '%Y.%m.%d %H:%i') AS createdAt,
			placeImages.firstUrl,
			reviewLikes.userId AS reviewAuthor
		FROM places
			JOIN reviews ON places.placeName = reviews.placeName
			JOIN reviewLikes ON reviews.placeName = reviewLikes.placeName AND reviews.userId = reviewLikes.userId
			JOIN placeImages ON places.placeName = placeImages.placeName
		WHERE
			reviewLikes.likeUserId = #{userId}
			<if test="searchKeyword != null and searchKeyword != ''">
           	 	AND upper(places.placeName) LIKE upper('%${searchKeyword}%')
        	</if>
        	<if test="largeAddress != null and largeAddress != ''">
            	AND places.largeAddress = #{largeAddress}
        	</if>
        	<if test="calendar != null and calendar != ''">
            	AND DATE_FORMAT(reviews.createdAt, '%Y.%m.%d') = #{calendar}
        	</if>
        ORDER BY reviews.createdAt DESC
	</select>

	<!-- 유저가 작성한 리뷰 정보들 가져오기 -->
	<select id="getUserWrittenReviews"
		resultType="UserWrittenReviewsDto" parameterType="UserSearchDto">
		<bind name="userId" value="userId" />
		SELECT placeImages.firstUrl, places.placeName, CONCAT(places.largeAddress, '
		',places.midiumAddress) AS address, reviews.review,
		DATE_FORMAT(reviews.createdAt, '%Y.%m.%d %H:%i') AS createdAt
		FROM placeImages
		JOIN places ON placeImages.placeName = places.placeName
		JOIN reviews ON places.placeName = reviews.placeName
		WHERE reviews.userId = '${ userId }'
	</select>
	
	<!-- 유저가 위치인증한 장소 정보들 가져오기 -->
	<select id="getUserVerifiedPlaces" resultType="UserVerifiedPlacesDto" parameterType="UserSearchDto">
		SELECT
			placeImages.firstUrl,
			placeVerified.placeName,
			DATE_FORMAT(placeVerified.verifiedTime, '%Y.%m.%d %H:%i') AS createdAt,
			CONCAT(places.largeAddress, ' ', places.midiumAddress) AS address
		FROM placeVerified
			JOIN places ON placeVerified.placeName = places.placeName
			JOIN placeImages ON placeVerified.placeName = placeImages.placeName
		WHERE
			placeVerified.userId = #{userId}
	</select>
	
	<!-- 유저 활동내역 전체 -->
	<select id="getAllUserRelatedInfo" resultType="UserRelatedInfoDto" parameterType="UserSearchDto">
	<bind name="userId" value="userId" />
	<bind name="startRowValue" value="startRowValue" />
	<bind name="rowCnt" value="rowCnt" />
    /* 좋아요한 명소들 */
    SELECT 
        'favorite_places' AS type,
        places.placeName, 
        CONCAT(places.largeAddress, ' ', places.midiumAddress) AS address, 
        placeImages.firstUrl, 
        DATE_FORMAT(placesFavorite.createdTime, '%Y.%m.%d %H:%i') AS createdAt,
        NULL AS review,
        NULL AS likeUserId,
        NULL AS nickName
    FROM places
    JOIN placesFavorite ON places.placeName = placesFavorite.placeName
    JOIN placeImages ON places.placeName = placeImages.placeName
    WHERE placesFavorite.userId = '${ userId }'

    UNION ALL

    /* 좋아요한 리뷰들 */
    SELECT 
        'liked_reviews' AS type,
        places.placeName, 
        NULL AS address, 
        placeImages.firstUrl, 
        DATE_FORMAT(reviewLikes.createdTime, '%Y.%m.%d %H:%i') AS createdAt,
        reviews.review,
        reviewLikes.likeUserId,
        users.nickName
    FROM places
    JOIN reviews ON places.placeName = reviews.placeName
    JOIN reviewLikes ON reviews.placeName = reviewLikes.placeName AND reviews.userId = reviewLikes.userId
    JOIN users ON reviewLikes.likeUserId = users.userId
    JOIN placeImages ON places.placeName = placeImages.placeName
    WHERE reviewLikes.likeUserId = '${ userId }'

    UNION ALL

    /* 작성한 리뷰들 */
    SELECT 
        'written_reviews' AS type,
        places.placeName, 
        CONCAT(places.largeAddress, ' ', places.midiumAddress) AS address, 
        placeImages.firstUrl, 
        DATE_FORMAT(reviews.createdAt, '%Y.%m.%d %H:%i') AS createdAt,
        reviews.review,
        NULL AS likeUserId,
        NULL AS nickName
    FROM placeImages
    JOIN places ON placeImages.placeName = places.placeName
    JOIN reviews ON places.placeName = reviews.placeName
    WHERE reviews.userId = '${ userId }'

    UNION ALL

    /* 위치 인증한 장소 */
    SELECT 
        'verified_places' AS type,
        placeVerified.placeName, 
        CONCAT(places.largeAddress, ' ', places.midiumAddress) AS address, 
        placeImages.firstUrl, 
        DATE_FORMAT(placeVerified.verifiedTime, '%Y.%m.%d %H:%i') AS createdAt,
        NULL AS review,
        NULL AS likeUserId,
        NULL AS nickName
    FROM placeVerified
    JOIN places ON placeVerified.placeName = places.placeName
    JOIN placeImages ON placeVerified.placeName = placeImages.placeName
    WHERE placeVerified.userId = '${ userId }'

    ORDER BY createdAt
    
    <if test="startRowValue != null and rowCnt != null">
        LIMIT #{startRowValue}, #{rowCnt}
    </if>
  </select>

</mapper>