<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.igojoa.repository.UsersDao">
	<!-- 대현이 짠 쿼리 start -->
    <insert id="create" parameterType="Userss">
        INSERT INTO Userss (UsersId, password, email, phoneNumber, nickName, UsersProfileName, UsersProfileUrl) VALUES (#{UsersId}, SHA2(#{password}, 256), #{email}, #{phoneNumber}, #{nickName}, #{UsersProfileName}, #{UsersProfileUrl})
    </insert>
    <select id="selectByUsersId" resultType="Userss" parameterType="String">
        SELECT * FROM Userss WHERE UsersID = #{UsersId}
    </select>
    <select id="selectByIdAndPassword" resultType="Userss" parameterType="Userss">
        SELECT * FROM Userss WHERE UsersID = #{UsersId} AND PASSWORD = SHA2(#{password}, 256)
    </select>
    <update id="updateUsersProfile">
        UPDATE Userss
        SET Users_PROFILE_NAME = #{fileName}, Users_PROFILE_URL = #{fileUrl}
        WHERE UsersID = #{UsersId}
    </update>
	<!-- 대현이 짠 쿼리 finish -->
	
	<!-- 상원이 짠 쿼리 start -->
	
	<!-- 상원이 짠 쿼리 finish -->
</mapper>