<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.igojoa.repository.UsersDao">
    <!-- 세션값 유효성 검증 -->
    <select id="sessionTorF" resultType="Integer" parameterType="String">
        <bind name="userId" value="userId" />
        SELECT COUNT(*) 
        FROM users u 
        WHERE u.userId = #{userId}
    </select>
    <insert id="create" parameterType="Users">
        INSERT INTO users (userId, password, email, phonenumber, nickname, userProfileName, userProfileUrl) VALUES (#{userId}, SHA2(#{password}, 256), #{email}, #{phoneNumber}, #{nickName}, #{userProfileName}, #{userProfileUrl})
    </insert>
    <select id="selectByUserId" resultType="Users" parameterType="String">
        SELECT * FROM users WHERE USERID = #{userId}
    </select>
    <select id="selectByIdAndPassword" resultType="Users" parameterType="Users">
        SELECT * FROM users WHERE USERID = #{userId} AND PASSWORD = SHA2(#{password}, 256)
    </select>
    <select id="findUserId" resultType="String" parameterType="String">
        SELECT userId FROM users WHERE EMAIL = #{email} AND NICKNAME = #{nickName}
    </select>
    <select id="verifyUser" resultType="boolean" parameterType="String">
        SELECT EXISTS(SELECT 1 FROM users WHERE USERID = #{userId} AND EMAIL = #{email} AND NICKNAME = #{nickName})
    </select>
    <update id="updatePassword" parameterType="String">
        UPDATE users SET PASSWORD = SHA2(#{password}, 256) WHERE USERID = #{userId}
    </update>
    <select id="checkUserId" resultType="boolean" parameterType="String">
        SELECT EXISTS(SELECT 1 FROM users WHERE USERID = #{userId})
    </select>
    <select id="checkNickName" resultType="boolean" parameterType="String">
        SELECT EXISTS(SELECT 1 FROM users WHERE NICKNAME = #{nickName})
    </select>
    <select id="checkEmail" resultType="boolean" parameterType="String">
        SELECT EXISTS(SELECT 1 FROM users WHERE EMAIL = #{email})
    </select>
    <select id="checkPhoneNumber" resultType="boolean" parameterType="String">
        SELECT EXISTS(SELECT 1 FROM users WHERE PHONENUMBER = #{phoneNumber})
    </select>

</mapper>