.vscode/settings.json
igojoa/.settings/org.eclipse.jdt.apt.core.prefs
igojoa/.project
igojoa/bin/.project
/bin/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
/.metadata/
/target/
application-aws.properties