@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 박스 사이징 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본스타일 설정 */
:root {
  --main-font: "Noto Sans KR", sans-serif;
  --main-bg-color: #f5f5f5;
  --main-text-color: #333;
  --link-color: #4a6fa5;
  --link-hover-color: #3a5a8a;
  --border-radius: 10px;
  --primary-color: #4a6fa5;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding-top: 56px; /* 네비게이션 바 높이만큼 패딩 추가 */
}

main {
  max-width: 2400px;
  width: 80%;
  margin: 56px 10%;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 45px; /* 컨테이너 상단 여백 추가 */
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* 반응형 디자인 */
@media (max-width: 2000px) {
  .container {
    padding: 20px;
  }

  @media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1500px;
    }
  }
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a5a8a;
}
@media (max-width: 390px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
