main {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 73vh;
  transition: 1s;
  position: relative;
  margin-top: 80px;
  transition: margin-top 0.3s ease;
  box-shadow: none;
}

.container {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}
.container .box {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.container .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 10px;
  margin-bottom: 10px;
}
.container .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
.formBx {
  position: absolute;
  left: 50px;
  width: 350px;
  height: 700px;
  background: #fff;
  z-index: 998;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
.slide .formBx {
  left: 400px;
}
.formBx .form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: #fff;
}
.formBx .form.signupform {
  top: 120%;
  transition-delay: 0s;
}
.slide .formBx .form.signupform {
  top: 0;
  transition-delay: 1s;
}
.formBx .form.signinform {
  top: 0;
  transition-delay: 1s;
}
.slide .formBx .form.signinform {
  top: -100%;
  transition-delay: 0s;
}
.formBx .form form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
  gap: 5px;
}
.formBx .form form h3 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}
.formBx .form form input {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  border: var(--bs-border-width) solid var(--bs-border-color);
  letter-spacing: 0.1em;
}
.formBx .form form input[type="submit"] {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  max-width: 310px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 10px;
}
.formBx .signupform form input[type="submit"] {
  background-color: var(--primary-color);
}
.find {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

#register-profileimg {
  width: 130px;
  height: 130px;
  margin-bottom: 15px;
  border: 1px solid gray;
  object-fit: cover;
}

.image-upload {
  position: relative;
  display: inline-block;
}

.image-upload img {
  width: 120px; /* Adjust the size as needed */
  /* Adjust the size as needed */
  cursor: pointer;
}

.image-upload .upload-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Allow click to pass through to input */
}

.image-upload ion-icon {
  font-size: 500px;
  color: rgba(0, 0, 0, 0.3); /* Semi-transparent icon */
}

.image-upload ion-icon:hover {
  color: rgba(0, 0, 0, 0.9); /* Semi-transparent icon */
}

.image-upload input[type="file"] {
  display: none;
}

.invalid-feedback,
#register-check-message {
  color: red;
  font-size: 0.75em;
  margin-top: 0;
}
#phone-input {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
#phone-input input {
  flex: 1;
  text-align: center;
}

#phone-input input:first-child {
  flex: 0 0 60px;
}

@media (max-width: 390px) {
  main {
    margin: 80px 0;
    padding: 0 20px;
  }

  .container {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 0;
  }

  .container .box {
    display: none;
  }

  .formBx {
    position: static;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .formBx .form {
    position: static;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .formBx .form:not(.active) {
    display: none;
  }

  .formBx .active {
    display: block;
    animation: fadeInUp 1s ease forwards;
  }

  .formBx .form form {
    gap: 15px;
    margin-bottom: 20px;
  }

  .formBx .form form input {
    font-size: 0.8rem;
  }

  .formBx .form form input[type="submit"] {
    width: 100%;
    max-width: none;
    margin-top: 20px;
  }
  .switch-form-container {
    display: flex;
    font-size: 16px;
    text-align: center;
    margin-top: 3px;
    flex-direction: column;
    align-items: center;
  }

  .switch-form-text {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
  }
  .switch-form-btn {
    display: block;
    width: 270px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .find {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    gap: 10px;
    margin-top: 20px;
  }

  #register-profileimg {
    width: 100px;
    height: 100px;
  }

  .image-upload .upload-icon {
    width: 40px;
    height: 40px;
  }

  #phone-input {
    display: flex;
    gap: 5px;
  }
  #phone-input input {
    flex: 1;
    text-align: center;
    font-size: 0.8rem;
  }

  #phone-input input:first-child {
    flex: 0 0 50px;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 420px) {
  main {
    margin: 80px 0;
    padding: 0 20px;
  }

  .container {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 0;
  }

  .container .box {
    display: none;
  }

  .formBx {
    position: static;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .formBx .form {
    position: static;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .formBx .form:not(.active) {
    display: none;
  }

  .formBx .active {
    display: block;
    animation: fadeInUp 1s ease forwards;
  }

  .formBx .form form {
    gap: 15px;
    margin-bottom: 20px;
  }

  .formBx .form form input {
    font-size: 0.8rem;
  }

  .formBx .form form input[type="submit"] {
    width: 100%;
    max-width: none;
    margin-top: 20px;
  }
  .switch-form-container {
    display: flex;
    font-size: 16px;
    text-align: center;
    margin-top: 3px;
    flex-direction: column;
    align-items: center;
  }

  .switch-form-text {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  .switch-form-btn {
    display: block;
    width: 270px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .find {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    gap: 10px;
    margin-top: 20px;
  }

  #register-profileimg {
    width: 100px;
    height: 100px;
  }

  .image-upload .upload-icon {
    width: 40px;
    height: 40px;
  }

  #phone-input {
    display: flex;
    gap: 5px;
  }
  #phone-input input {
    flex: 1;
    text-align: center;
    font-size: 0.8rem;
  }

  #phone-input input:first-child {
    flex: 0 0 50px;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
