@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

#lotto-section {
  padding: 0;
  width: 115%;
  min-height: 400px;
}
/* 버튼 스타일 초기화 */
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

/* 로또 섹션 스타일 */
.lotto-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10%;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  background-color: var(--main-bg-color);
}

.lotto-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
}

.lotto-h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.user-numbers {
  margin-bottom: 20px;
}

.number-inputs {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.number-input {
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ball-container {
  margin: 10px 0;
  min-height: 50px;
}

.ball {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0 5px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-out;
}

.bonus-container {
  margin-top: 10px;
}

.bonus-label {
  font-size: 18px;
  color: #666;
  margin-right: 10px;
}

#playButton,
#resetNumbersButton {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

#playButton:hover,
#resetNumbersButton:hover {
  background-color: var(--primary-color);
}

#points {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.rank {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

/* Modal 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-bottom: 20px;
}

#modal-message {
  text-align: left;
  margin-top: 20px;
  line-height: 1.5;
}

.warning-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .number-select {
    font-size: 14px;
    padding: 8px;
  }

  .ball {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
  }

  #playButton,
  #resetNumbersButton {
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .number-select {
    font-size: 12px;
    padding: 6px;
  }

  .ball {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }

  #playButton,
  #resetNumbersButton {
    padding: 6px 12px;
    font-size: 10px;
  }
}
@media (max-width: 420px) {
  #lotto-section {
    padding: 0;
    width: 115%;
    min-height: 400px;
  }
  .lotto-h1 {
    font-size: 1.5rem;
  }

  .number-select {
    font-size: 10px;
    padding: 4px;
    margin: 2px;
  }

  .ball {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 50%;
  }

  #playButton,
  #resetNumbersButton {
    padding: 6px 10px;
    font-size: 12px;
  }

  #points {
    font-size: 16px;
  }

  .rank {
    font-size: 18px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
    top: 20%;
  }

  .modal-content h2 {
    font-size: 1.2rem;
  }

  #modal-message {
    font-size: 14px;
  }
  .number-inputs {
    flex-wrap: wrap;
  }
}
/* 아이폰 12 해상도에 맞춘 반응형 디자인 */
@media (max-width: 390px) {
  #lotto-section {
    padding: 0;
    width: 115%;
    min-height: 400px;
  }
  .lotto-h1 {
    font-size: 1.5rem;
  }

  .number-select {
    font-size: 10px;
    padding: 4px;
    margin: 2px;
  }

  .ball {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin: 0 2px;
    border-radius: 50%;
  }

  #playButton,
  #resetNumbersButton {
    padding: 6px 10px;
    font-size: 12px;
  }

  #points {
    font-size: 16px;
  }

  .rank {
    font-size: 18px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
    top: 20%;
  }

  .modal-content h2 {
    font-size: 1.2rem;
  }

  #modal-message {
    font-size: 14px;
  }
  .number-inputs {
    flex-wrap: wrap;
  }
}
