@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  line-height: 1.8;
  padding-top: 56px; /* 네비게이션 바 높이만큼 패딩 추가 */
}

h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 2.2rem;
}
.container {
  border-radius: var(--border-radius);
}
#map,
#carouselExampleIndicators {
  height: 400px;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#mabAndImage {
  margin-bottom: 20px;
}

#detailsInfo {
  margin-bottom: 40px;
}

.card {
  border: none;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card-header.bg-primary {
  background-color: var(--primary-color) !important;
}

.btn-primary {
  background: linear-gradient(45deg, var(--primary-color), #6184b2);
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.review-text p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #3a5a8a, var(--primary-color));
  box-shadow: 0 4px 10px rgba(74, 111, 165, 0.3);
}

.media {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.media:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

.media-content img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 3px solid var(--secondary-color);
}

.carousel-item img {
  object-fit: cover;
  height: 400px;
}

.like-btn {
  transition: all 0.3s ease;
  border: 2px solid var(--primary-color);
}

.like-btn:hover,
.like-btn.active {
  background-color: var(--primary-color);
  color: white;
}

.bg-warning {
  background-color: rgba(234, 106, 0, 0.87) !important;
}

/* 드롭다운 버튼 스타일 */
.dropdown-toggle {
  background: linear-gradient(45deg, var(--primary-color), #6184b2);
  border: none;
  width: 9rem;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: white;
  border-radius: var(--border-radius);
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: linear-gradient(45deg, #3a5a8a, var(--primary-color));
  box-shadow: 0 4px 10px rgba(74, 111, 165, 0.3);
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  --bs-dropdown-min-width: 1rem;
}

.dropdown-item1 {
  transition: all 0.2s ease;
  color: var(--primary-color);
  width: 100%;
  text-align: left;
}

.dropdown-item1:nth-child(3) {
  pointer-events: none;
}

.dropdown-item1:hover {
  text-decoration: none;
  background-color: var(--primary-color);
}

.dropdown-item1:hover,
.dropdown-item1:focus,
.dropdown-item1.active {
  background-color: var(--primary-color);
  color: white;
  text-align: left;
  width: 100%;
}

.btn-outline-primary {
  --bs-btn-active-bg: var(--primary-color) !important;
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
}

#createReview {
  padding: 21px 35px 26px 35px;
}

/* 뱃지 카운팅 */
.badge {
  height: 26px;
  font-weight: 500;
  align-content: center;
  font-size: 13px;
}

#emojiList {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emoji-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.emoji-content {
  display: flex;
  align-items: center;
  z-index: 1;
}

.emoji {
  font-size: 24px;
  margin-right: 10px;
}

.text {
  font-size: 14px;
  font-weight: 500;
}

.count {
  font-size: 14px;
  color: #666;
  z-index: 1;
}

.background-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e0f2f1;
  z-index: 0;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: var(--primary-color) !important;
}

#favoriteHeart {
  font-size: 25px;
  margin-right: 7px;
  cursor: pointer;
}

/* 레베루 뱃지 */

.circular-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  /* background: red; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: initial;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  flex-shrink: 0;
}

/* 위로 가는 버튼*/
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
  padding-top: 10px;
  transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
  background-color: #555;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a5a8a;
}

/* 반응형 디자인 */
@media (max-width: 2000px) {
  .container {
    padding: 20px;
  }
  #map,
  #carouselExampleIndicators {
    height: 400px;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
}

@media (max-width: 390px) {
  body {
    font-size: 14px; /* 기본 글자 크기 줄이기 */
    padding-top: 56px; /* 네비게이션 바 높이만큼 패딩 추가 */
    line-height: 1.3;
  }
  h5 {
    width: 152px;
  }
  h2 {
    font-size: 1rem; /* 제목 글자 크기 줄이기 */
  }
  p {
    font-size: 14px; /* 본문 글자 크기 줄이기 */
  }
  #map,
  #carouselExampleIndicators {
    height: 200px; /* 지도 및 캐러셀 높이 줄이기 */
  }
  .card {
    margin-bottom: 15px; /* 카드 간격 줄이기 */
  }
  .btn-primary,
  .btn-outline-primary {
    font-size: 10px; /* 버튼 글자 크기 줄이기 */
    padding-left: 15px;
  }

  .btn-group {
    padding-left: 13px;
    margin-bottom: 10px !important;
  }

  .btn-group.mb-3:nth-of-type(2) {
    margin-bottom: 10px !important;
  }

  .badge {
    font-size: 10px;
    margin-bottom: 2px;
  }

  #nickName {
    margin-left: 3px;
    width: 152px;
  }

  .text-muted {
    position: relative;
    top: -13px;
    left: -81px;
    width: 140px;
  }

  #updateReviewBtn,
  #deleteReviewBtn {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .mb-0 {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px !important;
  }

  #reviewButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #reviewText {
    margin: 0 0px 0 12px;
    width: 93%;
  }
  .card-text.mb-0 {
    width: 210px;
  }
  .card-text.mb-3 {
    min-width: 210px;
  }
  .mb-3 {
    margin-bottom: 0px !important;
  }
  .mb-5 {
    margin-bottom: 0px !important;
  }
  .card-header.bg-primary {
    padding-left: 0px;
  }
  .media {
    padding: 15px; /* 미디어 요소 패딩 줄이기 */
  }
  .media-content img {
    width: 50px; /* 미디어 이미지 크기 줄이기 */
    height: 50px; /* 미디어 이미지 크기 줄이기 */
    margin-right: 15px; /* 이미지 오른쪽 마진 줄이기 */
  }
  .carousel-item img {
    height: 200px; /* 캐러셀 이미지 높이 줄이기 */
  }
  #scrollToTopBtn {
    font-size: 16px; /* 버튼 글자 크기 줄이기 */
    padding: 12px; /* 버튼 패딩 줄이기 */
    width: 45px; /* 버튼 너비 줄이기 */
    height: 45px; /* 버튼 높이 줄이기 */
  }
  #reviewText {
    font-size: 12px; /* 리뷰 텍스트 글씨 크기 줄이기 */
    height: 200px;
  }
  .emoji-item {
    font-size: 10px; /* 이모지 리스트 글씨 크기 줄이기 */
    padding: 9px;
    margin: 5px;
  }
  .emoji-item .emoji,
  .emoji-item .text .emoji-item .count {
    font-size: 10px;
  }
  .container {
    padding: 10px; /* 컨테이너 패딩 줄이기 */
    border-radius: var(--border-radius);
  }
  .card-body {
    padding: 10px; /* 카드 안쪽 패딩 줄이기 */
  }
  #createReview {
    padding: 0px;
  }
  #sortDropdownButton {
    font-size: 10px;
    width: 100px;
  }
  #detailsInfo {
    margin-bottom: 1px;
  }
  #mabAndImage {
    margin-bottom: 1px;
  }
  .dropdown-toggle,
  .dropdown-item1 {
    font-size: 12px;
    padding: 8px 12px;
  }
  .dropdown-menu {
    min-width: 100px;
  }
  .copyright {
    text-align-last: left;
  }
  main {
    width: 90%;
    margin: 45px 5%;
  }
  #createReviewBtn {
    margin: 10px;
  }
}

/* 애니메이션 효과 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card,
.media {
  animation: fadeIn 0.5s ease-out;
}
