<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-40.40logger] %m%n" />
        </console>
          <!-- 로그 패턴: 
          o. %d, %date: 로그가 발생한 날짜/시간.
          o. %p, %level: 로그 레벨. all < debug < info < warn < error < fatal < off
          o. %c, %logger: 로그를 쓰는 로거(logger)의 이름.
          o. %m, %msg, %message: 로그 메시지.
          o. %n: 줄바꿈(new line)
          o. %L, %line: 로그가 발생한 소스의 라인 번호.
          ...
        -->
	</Appenders>
    <Loggers>
        <logger name="com.zaxxer.hikari" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </logger>
         <Root level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
